.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.social-links > div {
    margin: 5px 5px;
    filter: grayscale(100%);
    transition: filter 0.2s ease-in-out;
}

.social-links > div:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.share-count {
    text-align: center;
}
