@import url("./variables.css");

* {
  border: 0;
  background-repeat: no-repeat; 
  box-sizing: inherit; 
}

html {
  height: 100%;
  width: 100%;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-base-line-height);
  font-size: var(--font-size-base);
  color: var(--color-black-500);
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; 
  scroll-behavior: auto; 
}

body {
  margin: 0;
  background: var(--color-background-500);
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased; 
}

body::-webkit-scrollbar {
  scrollbar-width: thin;
}

h1 {
  font-size: var(--font-size-xxl);
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 4);
  margin-bottom: calc(var(--font-base-line-height) * var(--font-size-base) * 1);
  letter-spacing: -0.75px;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 2);
  margin-bottom: calc(
    var(--font-base-line-height) * var(--font-size-base) * 0.5
  );
}

h3 {
  font-size: var(--font-size-l);
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 2);
  margin-bottom: calc(
    var(--font-base-line-height) * var(--font-size-base) * 0.5
  );
}

h4 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.075rem;
  font-size: 20px;
  margin-top: 0;
}

h5 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: normal;
  font-size: 16px;
  letter-spacing: 0.075rem;
  margin-top: 0;
}


h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.075rem;
  margin-top: 0;
}

small {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  margin-top: 0;
  color: var(--color-secondary-500);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border-bottom: 2px dotted var(--color-primary);
  transition: var(--transition);
}

a:hover {
  border-bottom: 2px dotted var(--color-primary);
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border-bottom: 2px dotted var(--color-primary);
  transition: var(--transition);
  display:inline;
}

.link:hover {
  border-bottom: 2px dotted var(--color-primary);
}

/* a {
  border-bottom: 2px dotted var(--color-primary);
  background: linear-gradient(to bottom, transparent 62%, #44DDFF 0) left center/0% 75% no-repeat;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition)
}

a:hover {
  border-bottom: 2px dotted var(--color-primary);
  background-size: 100% 100%;
} */

a[href$=".jpg"],
a[href$=".png"],
a[href$=".svg"] {
  border: none;
}

a.noeffect {
  border: none;
  background-size: 0;
}

a > button {
  border-bottom: none;
}

a > small {
  border-bottom: none;
}

button {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  cursor: pointer;
}

a.linkicon {
  color: var(--color-secondary-500);
  transition: color 0.3s ease-in-out;
}

a.linkicon:hover {
  color: var(--color-brand-500);
}

/* Unorder List Style */

ul li {
  list-style-type: none;
  margin-bottom: 12px;
}

ul li:before { 
  content: '\1f806';
  list-style-position: outside;
  margin-right: 16px;
  margin-left: -8px;
}

/* Hide Arrow in Carousel */
ul li.BrainhubCarouselItem:before {
  content: none;
}

ol li {
  counter-increment: list;
  margin-bottom: 12px;
}
ol li:before {
  content: counter(list) ". ";
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
  font-style: italic;
  margin-left: -24px;
  margin-right: 6px;
  
}
ol {
  list-style: none;
  counter-reset: list;
}

blockquote {
  display: block;
  position: relative;
  padding: 0;
  margin: 3rem 0 1rem 0;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  line-height: 1.5;
  border-bottom: 2px solid #eee;
}

blockquote p {
  margin-left: 4rem;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  top: -20px;
  left: 0;
  width: 3rem;
  height: 3rem;
  font: 8rem "PT Sans", sans-serif;
  color: var(--color-primary);
}

cite {
  display: block;
  position: relative;
  color: var(--color-secondary-300);
  font-style: normal;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  margin: 0;
  text-align: right;
}

button {
  background: var(--color-palette-500);
  box-shadow: none;
}

table {
  width: 100%;
  border-spacing: 16px;
}

p:first-child {
  margin-block-start: 0;
}

.nav {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.textlink {
  color: var(--color-secondary-500);
  border-bottom: 1px var(--color-transparent) solid;
  transition: all 0.3s ease-in-out;
}

.textlink:hover {
  border-bottom: 1px var(--color-secondary-500) solid;
  color: var(--color-secondary-300);
}

.navblock {
  display: block;
}

.rightspace:not(:last-child) {
  margin-right: 20px;
}

.subheading {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
  font-family: var(--font-secondary);
  font-weight: 400;
}

.textbig {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.brand {
  color: var(--color-brand-500);
}

.full-bleed {
  width: calc(100vw - 20px);
  margin-left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1024px) {
  .full-bleed > div {
    width: 95vw;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .full-bleed.full-content > div {
    width: 100vw;
    padding: 0;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
}

.gatsby-resp-image-wrapper {
  width: 100%;
}

figure {
  margin: 0 0 var(--var-padding-s) 0;
}

/* Nav Item Active Indication */
.nav-item-active {
  background: #ffffff;
}

.no-margin {
  margin: 0;
}