@import url("https://rsms.me/inter/inter.css");
@import url("https://use.typekit.net/hey8lez.css");

:root {
  --font-primary: freight-big-pro, Georgia, serif;
  --font-secondary: IBM Plex Sans, Helvetica, Arial, sans-serif;
  --tertiary-font: grad, Georgia, serif;
  --color-brand-300: #fefdf4;
  --color-brand-500: #feb101;
  --color-palette-500: #ffd644;
  --color-background-500: #ffffff;
  --color-white-300: #fbfbfb;
  --color-white-500: #f7f7f7;
  --color-white-700: #eeeeee;
  --color-black-500: #0d0d0d;
  --color-grey-100: #a8a9ab;
  --color-grey-300: #939393;
  --color-grey-500: #737373;
  --color-secondary-700: #2c3242;
  --color-secondary-500: #485069;
  --color-secondary-300: #7082b5;
  --color-secondary-100: #ced8e0;
  --color-transparent: rgba(0, 0, 0, 0);
  --padding-s: 1rem;
  --padding-m: 2rem;
  --padding-l: 4rem;
  --padding-xl: 8rem;
  --var-padding-l: 6rem;
  --var-padding-m: 2rem;
  --var-padding-s: 1rem;
  --grid-gap: 24px;
  --font-size-xxl: calc(56px + (72 - 56) * ((100vw - 320px) / (1600 - 320)));
  --font-size-xl: calc(36px + (56 - 36) * ((100vw - 320px) / (1600 - 320)));
  --font-size-l: calc(24px + (36 - 24) * ((100vw - 320px) / (1600 - 320)));
  --font-size-m: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
  --transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  :root {
    font-size: 18px;
    --var-padding-l: 3rem;
    --var-padding-m: 1rem;
    --var-padding-s: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--color-black-500);
}

body {
  margin: 0;
  background: var(--color-background-500);
}

div > main {
  max-width: 85vw;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  div > main {
    max-width: 90vw;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  div > main {
    max-width: 95vw;
    padding: 0 1rem;
  }
}

h1 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 700;
  font-size: calc(36px + (56 - 36) * ((100vw - 320px) / (1600 - 320)));
  line-height: 120%;
  margin-top: var(--padding-s);
}

h2 {
  font-size: calc(26px + (40 - 26) * ((100vw - 320px) / (1600 - 320)));
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: calc(32px + (48 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.blog h2 {
  margin-top: 4rem;
}

h3 {
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: 150%;
  font-size: calc(24px + (30 - 24) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
  letter-spacing: -0.025rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.075rem;
  font-size: 20px;
  margin-top: 0;
}

h5 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6 {
  font-family: var(--font-secondary);
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.075rem;
  margin-top: 0;
}

small {
  font-family: var(--font-secondary);
  font-weight: 400;
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  margin-top: 0;
  color: var(--color-secondary-500);
}

strong {
  font-family: var(--font-secondary);
  font-weight: 700;
}

.Text-S {
  font-size: 12px;
}

a {
  border-bottom: 2px solid var(--color-palette-500);
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a[href$=".jpg"],
a[href$=".png"],
a[href$=".svg"] {
  border: none;
}

a.noeffect {
  border: none;
}

a > button {
  border-bottom: none;
}

button {
  font-family: var(--font-primary);
  font-weight: 500;
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  cursor: pointer;
}

a.linkicon {
  color: var(--color-secondary-500);
  transition: color 0.3s ease-in-out;
}

a.linkicon:hover {
  color: var(--color-brand-500);
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 3rem 0;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
  position: relative;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -55%);
  background: #fff;
  width: 3rem;
  height: 4rem;
  font: 8rem "PT Sans", sans-serif;
  color: #666;
  text-align: center;
}

cite {
  display: block;
  position: relative;
  color: var(--color-secondary-300);
  font-style: normal;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  text-align: right;
}

button {
  background: var(--color-palette-500);
  box-shadow: none;
}

p:first-child {
  margin-block-start: 0;
}

.nav {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.textlink {
  color: var(--color-secondary-500);
  border-bottom: 1px var(--color-transparent) solid;
  transition: all 0.3s ease-in-out;
}

.textlink:hover {
  border-bottom: 1px var(--color-secondary-500) solid;
  color: var(--color-secondary-300);
}

.navblock {
  display: block;
}

.rightspace:not(:last-child) {
  margin-right: 20px;
}

.subheading {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
  font-family: var(--font-secondary);
  font-weight: 400;
}

.textbig {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.brand {
  color: var(--color-brand-500);
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  .full-bleed > div {
    padding: 0 1rem;
  }
}

img {
  max-width: 100%;
}

hr {
  margin: var(--var-padding-l) 0;
  border-top: 1px #f7f7f7 solid;
}

.gatsby-resp-image-wrapper {
  width: 100%;
}

figure {
  margin: 0 0 var(--var-padding-s) 0;
}

/* Nav Item Active Indication */
.nav-item-active {
  background: #ffffff;
}
