@import url("./variables.css");

* {
  border: 0;
  background-repeat: no-repeat; 
  box-sizing: inherit; 
}

html {
  height: 100%;
  width: 100%;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-base-line-height);
  font-size: var(--font-size-base);
  color: var(--color-black-500);
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box; 
  scroll-behavior: auto; 
}

body {
  margin: 0;
  background: var(--color-background-500);
  -moz-osx-font-smoothing: grayscale; 
  -webkit-font-smoothing: antialiased; 
}

body::-webkit-scrollbar {
  scrollbar-width: thin;
}

@media only screen and (max-width: 1024px) {
  div > main {
    max-width: 90vw;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  div > main {
    max-width: 95vw;
    padding: 0 1rem;
  }
}

h1 {
  font-size: calc(var(--font-size-base) * 3 * var(--font-scale-ratio));
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 4);
  margin-bottom: calc(var(--font-base-line-height) * var(--font-size-base) * 1);
  letter-spacing: -0.75px;
}

h2 {
  font-size: calc(var(--font-size-base) * 2.1458 * var(--font-scale-ratio));
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 2);
  margin-bottom: calc(
    var(--font-base-line-height) * var(--font-size-base) * 0.5
  );
}

h3 {
  font-size: calc(var(--font-size-base) * 1.6875 * var(--font-scale-ratio));
  line-height: 1.3em;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  margin-top: calc(var(--font-base-line-height) * var(--font-size-base) * 2);
  margin-bottom: calc(
    var(--font-base-line-height) * var(--font-size-base) * 0.5
  );
}

h4 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: 0.075rem;
  font-size: 20px;
  margin-top: 0;
}

h5 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.075rem;
  margin-top: 0;
}

small {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  margin-top: 0;
  color: var(--color-secondary-500);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

a {
  border-bottom: 2px dotted var(--color-grey-500);
  background: linear-gradient(to bottom, transparent 62%, #ffd644 0) left center/0% 75% no-repeat;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition)
}

a:hover {
  border-bottom: 2px dotted var(--color-grey-100);
  background-size: 100% 100%;
}

a[href$=".jpg"],
a[href$=".png"],
a[href$=".svg"] {
  border: none;
}

a.noeffect {
  border: none;
  background-size: 0;
}

a > button {
  border-bottom: none;
}

a > small {
  border-bottom: none;
}

button {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.075rem;
  cursor: pointer;
}

a.linkicon {
  color: var(--color-secondary-500);
  transition: color 0.3s ease-in-out;
}

a.linkicon:hover {
  color: var(--color-brand-500);
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 3rem 0;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  line-height: 1.5;
  position: relative;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -55%);
  background: #fff;
  width: 3rem;
  height: 4rem;
  font: 8rem "PT Sans", sans-serif;
  color: #666;
  text-align: center;
}

cite {
  display: block;
  position: relative;
  color: var(--color-secondary-300);
  font-style: normal;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  text-align: right;
}

button {
  background: var(--color-palette-500);
  box-shadow: none;
}

table {
  width: 100%;
  border-spacing: 16px;
}

p:first-child {
  margin-block-start: 0;
}

.nav {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.textlink {
  color: var(--color-secondary-500);
  border-bottom: 1px var(--color-transparent) solid;
  transition: all 0.3s ease-in-out;
}

.textlink:hover {
  border-bottom: 1px var(--color-secondary-500) solid;
  color: var(--color-secondary-300);
}

.navblock {
  display: block;
}

.rightspace:not(:last-child) {
  margin-right: 20px;
}

.subheading {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
  font-family: var(--font-secondary);
  font-weight: 400;
}

.textbig {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1600 - 320)));
  line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1600 - 320)));
}

.brand {
  color: var(--color-brand-500);
}

.full-bleed {
  width: calc(100vw - 16px);
  margin-left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1024px) {
  .full-bleed > div {
    width: calc(100vw - 16px);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .full-bleed.full-content > div {
    width: calc(100vw - 16px);
    padding: 0;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
}

.gatsby-resp-image-wrapper {
  width: 100%;
}

figure {
  margin: 0 0 var(--var-padding-s) 0;
}

/* Nav Item Active Indication */
.nav-item-active {
  background: #ffffff;
}
