By using this website, you agree to the use of cookies.



A Typographic Scale Calculator
To help you choose the right font size from a harmonious type scale inspired by the way music works
LEARN MORE
CONVERTER:  
18
  →    18 px = 13.5 pt
Base (pt)
14
Increment Ratio


No. of sizes in the scale


Use the section below to increase or decrease the size of the typographic elements. "1" equals the base. "2" creates a larger size than the base, "3" an even larger size, and so on.

Presets (Beta)

H1
18
H2
11
H3
7
H4
4
H5
3
H6
1
Blockquote
1
Body Text
0
Caption
-1
Endnote
-1
Footnote
-2
H1 (Big Title)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
39pt
3.25em  -  @16px
H2 (Main Section Title)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
25.75pt
2.1458em  -  @16px
H3 (Subheading 1)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
20.25pt
1.6875em  -  @16px
H4 (Subheading 2)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
17pt
1.4167em  -  @16px
H5 (Subheading 3)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
16pt
1.3333em  -  @16px
H6 (Subheading 4)
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
14pt
1.1667em  -  @16px
Blockquote
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
14pt
1.1667em  -  @16px
Body Text
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
13.25pt
1.1042em  -  @16px
Caption
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
12.5pt
1.0417em  -  @16px
Endnote
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
12.5pt
1.0417em  -  @16px
Footnote
Monsieur Jack, vous dactylographiez bien mieux que votre ami Wolf
11.75pt
0.9792em  -  @16px
Line-height (Beta):
1.80
GET CSS QUICK PREVIEW
The typographic scale is an ordered set of character sizes linked to each other by a common ratio. Choosing font sizes from a modular scale is essential for creating consistency, harmony, and contrast in a typographic work. Robert Bringhurst, in his book 'The Elements of Style,' says that no one should compose without it.

Design software usually has such a scale. Adobe InDesign's default sequence is based on the Classic Typographic Scale which is 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72, and so forth. This scale has historical significance — used by typographers of the early Renaissance; it has remained unchanged for 400 years. 

In the time when types were cut in metal, these font sizes were chosen for practical reasons. The typographers settled with a small range of sizes. And since they needed a greater variety of small fonts, the scaling ratio between the smaller font sizes was smaller than for the larger font sizes. The small sizes would increase by +1 (size 6 to 12), then the next series would increase by +2 (size 12 to 18), then by +3 (size 21 to 24), then by +12 (size 24 to 72), and so on.

If we assume the existence of a mathematical equation, the closest would be a1=round (a × r), where a=12 and r=5√2. This equation produces the following sequence: 6, 7, 8, 9, 10, 12, 14, 16, 18, 21, 24, 28, 32, 36, 42, 48 and so forth. Very close isn't it? This contains all the numbers of the Classical Typographic chart except 11. This equation uses two defining properties a and r.

HARMONIOUS PROPORTIONS
It is believed that certain proportions appeal to our eyes for the same reason that musical harmonies please our ears. Not surprising that they share some attributes. As Owen Gregory notes: "Both have formal qualities or parts that can be abstracted, analysed and discussed, often using the same terminology: composition, harmony, rhythm, repetition, form, theme; even colour, texture and tone."

If we look at a musical scale, we note that it has three defining properties; the root note, the number of note in the scale and the interval ratio. And we take notice that the ratio of frequencies of two notes an octave apart is 2. 

Let's rework the equation so that it resemble the musical scale, with three defining properties, and r=2 to match the ratio of frequencies of the octaves. We will use a=12pt as the fundamental term. In the Classical typographic scale chart, five steps separate the 12 and 24, so we will presume that it is a pentatonic scale (with five notes). Thus, our three properties are r=2, a=12pt and n=5. Using the geometric progression formula, we obtain the following sequence 6, 7, 8, 9, 10, 12, 14, 16, 18, 21, 24, 28, 32, 36, 42, 48, 55 etc. We can see that this is identical to the previous sequence.

MODULAR SCALE TYPE TOOLS
Tools like Tim Brown's modularscale.com and Jeremy Church's type-scale.com can generate a sequence of font sizes with a particular geometric incrementation ratio. However, these tools are limited to a simple modular scale with two defining properties. For instance, with a base a=12pt, and r=ϕ, using the equation a1=round(a × r), we obtain the following sequence: 12, 19, 31, 51, 82, ... Nice! However, as we can see, this results in an increase in font sizing with too much amplitude.

Our typographic scale calculator generates a modular scale using three defining properties similar to the musical scale: The initial term (a), the increment ratio (r), and the number of sizes in the scale (n). With a value of  a=12pt, r=ϕ and n=3, we get more option in the sequence: 12, 14, 17, 19, 23, 27, 31, 37, 43, 51, and so forth. Having these intermediaries, which in music would be equivalent to the notes between the octaves, results in a smoother sizing and more options for the designer. The designer can choose the right font sizing.

COMPOSING
In addition, our type-scale calculator gives the designer the ability to assign different typographic elements (title, subtitle, legend, etc.) to any term in the sequence.

The seasoned users can try to replicate the musical scale, e.g. assigning the value 8 of a chromatic scale to the title would amount to a dominant fifth (+7 semitones) in a musical scale, entering 13 would be equivalent to the perfect octave (+12 semitones), 25 would be a double octave (+24 semitones), and so forth. The sequence 1, 3, 5, 6, 8, 10, 12, 13, 14, 16, 18, 19, 21, 23, 25, etc., would be equivalent to the major scale, and so on.

The rest of us can simply experiment with any interesting growth scale, i.e. the Fibonacci Sequence (1, 2, 3, 5, 8, 13, 21, ...), the Lucas Numbers (1, 3, 4, 7, 11, 18, ...), the Pentagonal number Series (1, 2, 5, 7, 12, 15, 22, ...), or any other fabulous sequences.

 




Fig. 1. Base (f0)=12pt • Common ratio (r)=1.618 (ɸ) 
• No. of elements in scale (n)=3

References & Similar Projects
The Elements of Typographic Style by Robert Bringhust

Composing the New Canon: Music, Harmony, Proportion by Owen Gregory

Typographic Scale by Simonsen Spencer

Modular Scale by Tim Brown

Type Scale by Jeremy Church

Copyright © 2018–2020. Jean-Lou Désiré

Ti'kuto Design Studio
Jaylall Lane 3, Avenue Berthaud
Quatre-Bornes
Mauritius
T: +230 5903 7686 (WhatsApp)
Email us

Layout Grid Calculator
Typographic Scale Calculator



CSS
:root {
/* Increase or decrease the number 
to change the vertical spacing globally*/
  
/* Base Vertical Spacing */
    --space: 1.8;

/* Vertical Spacing - multiplier */
    --vspace: calc(var(--space) * 1rem);
    --vspace-0: calc(3 * var(--space) * 1rem);
    --vspace-1: calc(2 * var(--space) * 1rem);
    --vspace-2: calc(1.5 * var(--space) * 1rem);
    --vspace-3: calc(0.5 * var(--space) * 1rem);
}

html {font-size: 16px;}

body {
    font-size: 1.1042em;
    max-width: calc(25 * var(--vspace));
    margin: 0 auto;
}

p {
    margin: var(--vspace) 0; 
    line-height: var(--vspace);
}

h1 {
    margin: var(--vspace-1) 0 var(--vspace-1) 0;
    line-height: calc(3.25/var(--space)* var(--vspace));
}

h2 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: 1em;
}

h3 {
    margin: var(--vspace-1) 0 var(--vspace-3) 0;
    line-height: 1em;
}

h4, h5, h6 {
    margin: var(--vspace-2) 0 var(--vspace-3) 0;
    line-height: var(--vspace);
}

.bigtitle, h1 {
    font-size: 3.25em;
    word-break: break-word;
}

.title, h2 {
    font-size: 2.1458em; 
    font-weight: lighter; 
    word-break: break-word;
}

.subheading1, h3 {
    font-size: 1.6875em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
}

blockquote {
    font-size: em;        
    font-style:italic; 
    line-height: calc(*var(--vspace));
    margin: var(--vspace-2) var(--vspace-2);
}

.subheading2, h4 {
    font-size: 1.4167em;
    text-transform: capitalize;
}

.subheading3, h5 {
    font-size: 1.3333em; 
    font-weight: lighter; 
    text-transform: uppercase; 
    letter-spacing: .15em;
}

.subheading4, h6 {
    font-size: 1.1667em;
    font-weight: normal;
    font-style: italic;
    font-family: "le-monde-livre-classic-byol",serif !important;
    letter-spacing: 0px!important;
}

.caption_ts {
    font-size: 1.0417em;
    font-weight: normal;
    font-style: italic;
}

.endnote_ts {font-size: 1.0417em;}

.footnote_ts {
  margin: var(--vspace-0) 0 var(--vspace-2) 0;
  font-size: 0.9792em;  
  border-top: 1px solid #ccc;
  line-height: 2em;
}

sup { 
    font-size: 0.9792rem;
    margin: .5em; 
    text-transform: none;
    font-style: italic;
    font-weight: normal;
}