/* Typography */
:root {
    --font-primary:  canada-type-gibson, Helvetica, Arial, sans-serif;
    --font-secondary: Chivo, Calibre, Georgia, serif;
    --font-tertiary: clarendon-urw, Georgia, IBM Plex Mono, Courier, Menlo, Consolas, Monaco, "Lucida Console", monospace;
    --font-weight-bold: 600;
    --font-weight-regular: 400;
    --font-weight-bold-alt: 500;
    --font-size-xxl: calc(var(--font-size-base) * 3 * var(--font-scale-ratio));
    --font-size-xl: calc(var(--font-size-base) * 1.8 * var(--font-scale-ratio));
    --font-size-l: calc(var(--font-size-base) * 1.5 * var(--font-scale-ratio));
    --font-size-m: calc(var(--font-size-base) * 1.17 * var(--font-scale-ratio));
    --font-size-s: calc(var(--font-size-base) * 1 * var(--font-scale-ratio));
    --font-size-xs: calc(var(--font-size-base) * 0.9 * var(--font-scale-ratio));
    --font-size-2xs: calc(var(--font-size-base) * 0.7 * var(--font-scale-ratio));
    --transition: all 0.3s ease-in-out;
    --font-size-root: 100;
    --font-size-base: 18px;
    --font-size-small: 16px;
    --font-base-line-height: 1.8;
    --font-small-line-height: 1.5;
    --font-scale-ratio: 1;
    --font-small-letter-spacing: 0.5px;
    --font-leading: cal(
      cal(16 * (var(--font-size-root) / 100)) * var(--font-base-line-height)
    );
  }


/* Color */
:root {
  /* Old Color Token */
  /* --color-primary: #003049; */
  /* --color-primary-shades-100: #e7eff5; */
  /* --color-primary-shades-200: #ced8e0; */
  /* --color-primary-shades-300: #5f777d; */
  /* --color-primary-shades-500: #334455; */
  /* --color-primary-shades-700: #003049; */
  /* --color-secondary: #0078A0; */
  /* --color-white: #ffffff; */
  /* --color-white-300: #fbfbfb; */
  /* --color-white-500: #f7f7f7; */
  /* --color-white-700: #eeeeee; */
  /* --color-primary-100: #E4F6FF; */
  /* --color-primary-100-shade: #e7eff5; */
  /* --color-primary-300: #00A5DD; */

/* New Color Token*/
--color-white-light-100: #FBFBFB;
--color-white-light-300: #f7f7f7;
--color-white-light-500: #EEEEEE;
--color-primary-light-100: #E7EFF5;
--color-primary-light-300: #8FE6FF;
--color-primary-light-500: #0077CC;
--color-primary-light-700: #003049;
--color-primary-light-900:#121923;
--color-secondary-light-100: #CED8E0;
--color-secondary-light-300: #586F74;
--color-secondary-light-500: #005693;
--color-secondary-light-700: #121923;


  /* Semantic Color */
  --color-primary-500: var(--color-primary-light-500);
  --color-primary-highlight: var(--color-primary-light-300);
  --color-background: var(--color-white-light-100);
  --color-background-alt: var(--color-white-light-300);
  --color-background-reverse: var(--color-primary-light-700);
  --color-text: var(--color-primary-light-700);
  --color-text-secondary: var(--color-secondary-light-300);
  --color-text-reverse: var(--color-white-light-100);
  --color-title: var(--color-primary-light-700); 
  --color-gradient: linear-gradient(135deg, rgba(56,204,133,1) 0%, rgba(0,153,204,1) 100%);;
  --color-border: var(--color-secondary-light-100);
  --color-transparent: rgba(0, 0, 0, 0);
  --page-border-top: 10px var(--color-secondary-light-500) solid;
  --font-small-letterspacing: 0.075rem;
  --border-radius: 24px;

  /* Dark Mode Preview */
  /* --color-primary-500: var(--color-primary-dark-500);
  --color-background: var(--color-primary-light-700);
  --color-background-alt: var(--color-primary-shades-500);
  --color-text: var(--color-white-light-100);
  --color-text-secondary: var(--color-secondary-light-300);
  --color-title: var(--color-white-light-100);  */

}

/* Spacing */
:root {
    --padding-s: 1rem;
    --padding-m: 2rem;
    --padding-l: 4rem;
    --padding-xl: 8rem;
    --var-padding-l: 6rem;
    --var-padding-m: 2rem;
    --var-padding-s: 1rem;
    --grid-gap: 24px;
}

:root {
  --page-container-l: 1440px;
  --page-container-m: 1080px;
  --page-container-s: 720px;
}

@media only screen and (min-width: 1920px) {
  :root {
    --page-container-l: 1440px;
    --page-container-m: 1280px;
    --page-container-s: 760px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size-base: 16px;
    --font-scale-ratio: .9;
    --var-padding-l: 3rem;
    --var-padding-m: 1.5rem;
    --var-padding-s: 0.5rem;
    --font-size-xxl: calc(var(--font-size-base) * 2.5 * var(--font-scale-ratio));
    --font-size-xs: calc(var(--font-size-base) * 1 * var(--font-scale-ratio));
  }
}