@import url("https://rsms.me/inter/inter.css");
@import url("https://use.typekit.net/hey8lez.css");

/* Typography */
:root {
    --font-primary: din-2014, Helvetica, Arial, sans-serif;
    --font-secondary: Libre Caslon Text, Lato, Georgia, serif;
    --font-tertiary: freight-big-pro, Lato, Georgia, serif;
    --font-weight-bold: 600;
    --font-weight-regular: 400;
    --font-size-xxl: calc(56px + (72 - 56) * ((100vw - 320px) / (1600 - 320)));
    --font-size-xl: calc(36px + (56 - 36) * ((100vw - 320px) / (1600 - 320)));
    --font-size-l: calc(24px + (36 - 24) * ((100vw - 320px) / (1600 - 320)));
    --font-size-m: 1.75rem;
    --transition: all 0.3s ease-in-out;
    --font-size-root: 100;
    --font-size-base: 18px;
    --font-size-small: 16px;
    --font-base-line-height: 1.8;
    --font-scale-ratio: 1;
    --font-small-letter-spacing: 0.5px;
    --font-leading: cal(
      cal(16 * (var(--font-size-root) / 100)) * var(--font-base-line-height)
    );
  }

  @media only screen and (max-width: 768px) {
    :root {
      --font-size-base: 16px;
      --font-scale-ratio: 0.8;
      --var-padding-l: 3rem;
      --var-padding-m: 1rem;
      --var-padding-s: 0.5rem;
    }
  }
  

/* Color */
:root {
    --color-brand-300: #fefdf4;
    --color-brand-500: #feb101;
    --color-palette-500: #ffd644;
    --color-background-500: #ffffff;
    --color-white-300: #fbfbfb;
    --color-white-500: #f7f7f7;
    --color-white-700: #eeeeee;
    --color-black-500: #0d0d0d;
    --color-grey-100: #a8a9ab;
    --color-grey-300: #939393;
    --color-grey-500: #737373;
    --color-secondary-700: #2c3242;
    --color-secondary-500: #485069;
    --color-secondary-300: #7082b5;
    --color-secondary-100: #ced8e0;
    --color-transparent: rgba(0, 0, 0, 0);
}

/* Spacing */
:root {
    --padding-s: 1rem;
    --padding-m: 2rem;
    --padding-l: 4rem;
    --padding-xl: 8rem;
    --var-padding-l: 6rem;
    --var-padding-m: 2rem;
    --var-padding-s: 1rem;
    --grid-gap: 24px;
}

:root {
  --page-container-l: 1080px;
  --page-container-m: 800px;
  --page-container-s: 640px;

}